:root {
    --primary-color: #100B21;
    --secondary-color: #1a1234;
    --hover-color: #e74c3c;
    --button-color: #7c10cb;
    --light-color: ;
    --dark-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* topbar */
.topbar {
    background-color: #100B21;
}

.topbarContent marquee {
    color: #fff;
}

.topbarSocial a {
    color: #fff;
}

.topbarSocial a:hover {
    color: var(--hover-color);
}

/* navbar */

.navbar {
    background-color: #fff;
    /* border: 1px solid #ccc; */
}

#navbarLogo {
    width: auto;
    height: 80px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    font-weight: 600;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    /* text-transform: uppercase; */
    color: #000;
}

.nav-link:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}

.navBtn {
    /* background-color: var(--button-color); */
    background: linear-gradient(to right, #e74c3c, #ea0857, #de007a, #be00a3, #7c10cb);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    transition: all 0.4s ease;
}

.navBtn a {
    text-decoration: none;
    color: #fff;
}

.navBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.5);
}

/* hero section */

.hero {
    position: relative;
    height: 70vh;
    min-height: 500px;
    max-height: 800px;
    overflow: hidden;
    color: white;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero-background.active {
    opacity: 1;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.highlight {
    font-weight: 600;
    color: #ffffff;
}

.cta-button {
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 2rem;
    /* background-color: var(--button-color); */
    background: linear-gradient(to right, #e74c3c, #ea0857, #de007a, #be00a3, #7c10cb);
    color: white;
}

.cta-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.5);
}

.badge-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.9rem;

}

/* clients section */

.secure-placements {
    background-color: var(--light-color);
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
}

.section-title {
    /* color: var(--dark-color); */
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Winky Rough", sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.section-title::after {
    content: "";
    display: block;
    width: 30%; 
    height: 4px; 
    background-color: var(--button-color); 
    margin: 10px auto 0; 
    border-radius: 5px; 
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-bottom: 20px;
}

.marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee2 {
    display: inline-block;
    animation: marquee2 18s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.brand-item {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    padding: 15px 25px;
    margin: 0 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 80px;
    line-height: 50px;
    font-weight: bold;
    /* color: var(--primary-color); */
    color: black;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }

    .stat-number {
        font-size: 2.5rem;
    }

    .brand-item {
        padding: 10px 15px;
        height: 60px;
        line-height: 40px;
        font-size: 0.9rem;
    }
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5ff;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 12px;
    background-clip: padding-box;
    border-image: linear-gradient(90deg, #8e2de2, #4a00e0);
    border-image-slice: 1;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 250px;
    /* flex-grow, flex-shrink, min-width */
    padding: 10px;
    gap: 20px;
    min-width: 250px;
    max-width: 350px;
}

.icon-box {
    background-color: #e0dfff;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    /* stop shrinking */
}

.icon-box i {
    font-size: 1.8rem;
    color: #6a1b9a;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-number {
    font-size: 2.5rem;
    font-weight: bold;
    /* color: var(--hover-color); */
    line-height: 1;
}

.stat-label {
    font-size: 1rem;
    color: #000;
}

.divider {
    width: 1px;
    height: 80px;
    background-color: #d1cfd6;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .stats-container {
        max-width: 400px;
        flex-wrap: nowrap !important;
        gap: 0;
        padding: 10px;
    }

    .stat-item {
        min-width: 0;
        flex: 1;
        justify-content: flex-start;
        gap: 10px;
    }

    .divider {
        height: 50px;
        display: none;
    }

    .stat-number {
        font-size: 1.8rem;
    }

    .stat-label {
        font-size: 0.9rem;
    }
}

.gradient-border {
    position: relative;
    padding: 5px;
    /* Border thickness */
    background: linear-gradient(to right, #e74c3c, #ea0857, #de007a, #be00a3, #7c10cb);
    border-radius: 12px;
    /* Optional */
}

.gradient-border .inner-content {
    background: #fff;
    border-radius: 8px;
    /* padding: 20px; */
}

.gradient-text {
    background: linear-gradient(to right, #e74c3c, #ea0857, #de007a, #be00a3, #7c10cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* looks better */
}


/* jobs section */

/* .jobs{
    background-color: #f5f5ff;
} */

.job-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;

}

.job-card:hover {
    transform: scale(1.02);
}

.job-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;

}

.job-title {
    font-size: 18px;
    font-weight: bold;
    color: #6c2bd9;
    margin-top: 10px;
}

.company-info {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.company-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.location {
    font-size: 14px;
    color: #6c757d;
}

.applicants {
    font-size: 14px;
    font-weight: bold;
    color: #6c757d;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.details-btn,
.apply-btn {
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
}

.details-btn {
    border: 1px solid var(--button-color);
    color: var(--button-color);
    background: white;
}

.details-btn:hover {
    background-color: #6c2bd9;
    color: white;
}

.apply-btn {
    /* background-color: var(--hover-color); */
    background-color: red;
    color: white;
    border: 1px solid var(--hover-color);
}

.apply-btn:hover {
    background-color: #5a23b6;
    border: 1px solid var(--button-color);

}

/* Responsive */
@media (max-width: 768px) {
    .filter-section {
        margin-bottom: 20px;
    }

    .modal-content {
        width: 90%;
    }
}

/* Modal Styles */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    border: 50px solid black;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.jobHeading {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

#applyFilters {
    background-color: #ef4444;
    border: #ef4444;
}

#applyFilters:hover {
    background-color: #dc2626;
}

/* Filters Hidden on Small Screens */
@media (max-width: 768px) {
    .filter-section {
        display: none;
    }

    .filter-section.show {
        display: block;
        margin-top: 10px;
    }
}

.toggle-filters {
    display: none;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .toggle-filters {
        display: block;
    }
}

.viewMoreBtn {
    display: flex;
    align-items: center;
    justify-content: center;

}

.viewMoreBtn a {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 2rem;
    /* background-color: var(--button-color); */
    background: linear-gradient(to right, #e74c3c, #ea0857, #de007a, #be00a3, #7c10cb);
    color: white;
}

.viewMoreBtn a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.5);
}

/* Process section */

.call-to-action {
    background-color: var(--primary-color);
}

.process-list h3{
    font-size: 90px;
}

@media (max-width:765px) {
    .call-to-action {
        padding: 10px 0;
    }
}

.heading {
    font-size: clamp(2rem, 6vw, 4.5rem);
    font-weight: 700;
    color: #333;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    left: 40%;
    font-family: 'Poppins', sans-serif;
}

.heading::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: #ff5e57;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-radius: 2px;
    animation: underlineGrow 1s ease forwards;
}

@keyframes underlineGrow {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

/* Service Secton */

.service-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px 20px;
    text-align: center;
    transition: 0.4s;
    position: relative;
  }

  .service-card .icon {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--button-color);
  }

  .service-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .service-card p {
    font-size: 16px;
    color: #ccc;
  }

  .service-card:hover {
    border: 2px solid #fff;
    /* background: var(--button-color); */
    color: white;
  }

  .service-card:hover .icon {
    color: white;
  }

  #services {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  }
  

/* Testimonials */

.testimonialSection {
    background-color: #f5f5ff;
    padding-top: 20px;
}
.testimonialHeading{
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Winky Rough", sans-serif;
    }

    .testimonialHeading::after {
        content: "";
        display: block;
        width: 30%; 
        height: 4px; 
        background-color: var(--button-color); 
        margin: 10px auto 0; 
        border-radius: 5px; 
    }

@media (max-width:765px) {
    .testimonialHeading{
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Winky Rough", sans-serif;
    }

    .testimonialHeading::after {
        content: "";
        display: block;
        width: 30%; 
        height: 4px; 
        background-color: var(--button-color); 
        margin: 10px auto 0; 
        border-radius: 5px; 
    }

}
/* Contact Section */

.contact-section {
    padding: 20px 0;
}

/* .fw-bold{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.contact-info {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
}

.contact-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.form-control:focus {
    box-shadow: none;
    border-color: #ff7f50;
}

.btn-primary {
    background-color: #ff7f50;
    border: none;
}

.btn-primary:hover {
    background-color: #e76b3c;
}

.review-box {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* footer */

footer {
    background-image: url("/static/images/hero-bg.webp");
    /* z-index: -1; */
    background-position: center;
    background-size: contain;

}

.footContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2vh 0;
    height: fit-content;
    background-color: var(--primary-color);

}

.footcol {
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5vh 1vh;
    width: 25%;
    color: white;
    /* background-color: transparent; */
}

.footcol h3 {
    /* text-align: right; */
    font-weight: 600;
    font-size: 3vh;
    padding: 0.5vh 1vh;
    padding-top: 1vh;
    color: white;
    margin-bottom: 1.5vh;
}

.footcol ul li {
    list-style: none;
    font-weight: 50;
    text-align: left;
}

.footcol ul li a {
    text-decoration: none;
    color: white;
}

.footcol p {
    padding: 1vh;
}

.footcol ul li:hover,
.footcol ul li a:hover {
    color: var(--buttonColor);

}

.footcol h3:hover {
    border-bottom: 1px solid white;
    /* text-decoration: 2px solid underline; */
}

.footsocial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding: 1vh;
}

.footsocial ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 1vh;
}

#footmail {
    text-decoration: none;
    color: white;
}

#footmail:hover {
    color: var(--buttonColor);
}

.copyright {
    background-color: var(--primary-color);
    /* background-color: rgba(21, 30, 61, 0.9); */

    color: white;
    text-align: center;
    padding: 2vh 0;
    border-top: 1px solid white;
}

@media (max-width: 600px) {
    .footContainer {
        flex-direction: column;
        width: 100%;
    }

    .footcol {
        text-align: center;
        width: 100%;
        padding: 2vh;
    }

    .footcol ul li a {
        font-weight: 300;
    }
}

/* Floating CTA buttons================= */

.scroll-to-top {
    position: fixed;
    bottom: 140px;
    right: 25px;
    background-color: gray;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
    display: none;
    /* Hide initially */
    z-index: 1000;
    /* Ensure it's above other content */
    transition: background-color 0.3s;
    background-color: var(--primaryColor);
}

.scroll-to-top.show {
    display: block;
}

.scroll-to-top:hover {
    background-color: var(--buttonHover);
}

.whatsappButton {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 50%;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.whatsappButton:hover {
    background-color: #128c7e;
    transform: translateY(-3px);
}

/* chatbot============================= */
#chatbot-container {
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 1;
}

/* Chatbot Icon */
#chatbot-icon {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 50%;
    font-size: 20px ;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
}

/* Chatbot Dialog */
#chatbot-dialog {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 320px;
    height: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Chatbot Header */
#chatbot-header {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#chatbot-header span {
    font-size: 16px;
    font-weight: bold;
}

#chatbot-close {
    background: none;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* Chatbot Body */
#chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #ffffff;
}

#chatbot-messages {
    display: flex;
    flex-direction: column;
    line-height: 4vh;
}

/* Chatbot Input Area */
#chatbot-input-area {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#chatbot-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#chatbot-send {
    /* background-color: #007bff; */
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

/* Autocomplete Suggestions */
#autocomplete-suggestions {
    position: absolute;
    bottom: 50px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    max-height: 150px;
    overflow-y: auto;
    z-index: 999;
    display: none;
}

#autocomplete-suggestions div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

#autocomplete-suggestions div:hover {
    background-color: #d2ffd7;
    /* background-color: var(--buttonHover); */
}

/* Loading Spinner */
#loading-spinner {
    text-align: center;
    color: #555;
    margin-top: 10px;
}

/* Bot Message Styling */
.message.bot {
    background-color: #f0f8ff;
    border-left: 4px solid var(--primaryColor);
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-weight: bold;
    /* Emphasize response */
    color: #333;
    word-wrap: break-word;
}

/* User Message Styling */
.message.user {
    background-color: #d1ffd6;
    /* Light green for user messages */
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    word-wrap: break-word;
}


.UspCarousel {
    margin: 5vh 0;
    padding: 5vh;
    height: fit-content;
    background-color: black;
}


@media (max-width:765px) {


    .heading2 {
        padding: 1vh 2vh;
        padding-top: 4vh;
        font-size: 1.5em;
    }
}

.developers {
    color: orangered;
}